.app {
  padding: none;
  margin: none;
  width: 100vw;
  height: 100vh;
  background-color: #e5e5e5;
  display: flex;
  flex-direction: column;
}

.app-footer {
  display: flex;
  justify-content: center;
  gap: 2vw;
  position: relative;
  padding-top: 4.5vh;
  height: 30vh;
  margin: 0;
  z-index: 1;
}

.app-footer::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url(./footer.svg) bottom center;
  background-size: cover;
  background-color: #0a0d83;
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  margin: 0;
  z-index: -1;
}

/* break */

@media only screen and (max-width: 480px) {
  .header-container {
    padding: 0;
    flex-direction: column;
    width: 100%;
  }

  .app-logo-text {
    font-size: 2em;
  }
  .app-logo-text > div {
    display: none;
  }

  .form-container {
    margin: 0 auto;
    width: 100%;

    padding: 1em 1.5em 0.2em 1.5em;
  }

  .contactpage-container {
    align-items: center;
    width: 100%;

    padding: 0;
  }
}
